.title {
    color: blueviolet;
    font: bold;
}
html {
    overflow: hidden;
}

body {
    padding: 0px;
    margin: 0px;
}

#umb-image {
    width: 350px;
    height: 300px;
}

#brand-icon {
    width: 50px;
    height: 18px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
}

.container {
    width:100vw;
    max-width: 100vw;
    height:100vh;
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    background-color: rgb(215, 231, 242);
}

.content-head {
    font-size: 50px;
}

.one, .two {
    flex:1;
}

.one {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.innerdiv {
    width: fit-content;
}

.colors-container {
    display: flex;
    gap: 20px;
}

.color-picker {
    width: 10px;
    height: 10px;
    border-radius:100%;
}

/* pink */

#pink-layer {
    background-color: #D72C87;
    border-radius: 100%;
    position: relative;
    width: 20px;
    height: 20px;
}
#pink-layer:hover {
    cursor: pointer;
}
#pink-selector {
    background-color: #BD0064;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
/* blue */
#blue-layer {
    background-color: #29B1E5;
    border-radius: 100%;
    position: relative;
    width: 20px;
    height: 20px;
}
#blue-layer:hover {
    cursor: pointer;
}
#blue-selector {
    background-color: #0094CC;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
/* yellow */
#yellow-layer {
    background-color: #FDD143;
    border-radius: 100%;
    position: relative;
    width: 20px;
    height: 20px;
}
#yellow-layer:hover {
    cursor: pointer;
}
#yellow-selector {
    background-color: #E4BC3A;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

/* subheadings */

.sub-head {
    font-weight: bold;
    margin: 0px;
    margin-top: 10px;
}
p  {
    margin: 0px;
}
.description {
    padding-top: 10px;
}
.submit-container{
    position: relative;
}
#submit-button {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #29B1E5;
    border: 0px;
    margin: 10px 0px;
    position: relative;
}

#upload_text {
    pointer-events: none;
}

#submit-button:hover {
    cursor:pointer
}
#fileInput {
    display: none;
}
#fileInput:hover {
    cursor: pointer;
}

#remove-button {
    visibility: hidden;
}

#btn-loader {
    animation: spin 2.5s ease-in-out infinite;
    display: none;
    height: 25px;
    width: 25px;
}

#main-loader {
    display: none;
    animation: spin 3s ease-in-out infinite;
    height: 150px;
    width: 150px;
}

/* animations */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(360deg);
    }
    60% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}